/* Twikoo 评论样式 */

.tk-input .el-textarea__inner {
    min-height: 120px !important;
}

#twikoo .OwO-body {
    max-width: 100% !important;
}

#twikoo .OwO .OwO-body .OwO-items:nth-child(1),
#twikoo .OwO .OwO-body .OwO-items:nth-child(4) {
    max-height: 360px !important;
}

#twikoo .OwO-items li[title|=menhera] img {
    width: 100% !important;
    margin: 5px 10px;
}

.tk-comment .tk-owo-emotion[alt*=menhera] {
    width: 300px !important;
}

.tk-comment .vemoji[alt|=menhera],
.tk-comment .tk-owo-emotion[alt*=menhera] {
    max-width: 300px !important;
    max-height: 300px !important;
    margin: 8px 1px;
    display: block !important;
}

@media screen and (max-width: 768px) {
    .tk-comment .vemoji[alt|=menhera],
    .tk-comment .tk-owo-emotion[alt*=menhera] {
        max-width: calc(100% - 30px) !important;
        max-height: calc(100% - 30px) !important;
    }
    .OwO .OwO-body .OwO-items-image .OwO-item[title*=menhera] {
        max-width: calc(50% - 10px);
        box-sizing: border-box;
    }
}

.menus_item_child li:not(#sidebar-menus li) {
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}

.menus_item_child:not(#sidebar-menus ul) {
    /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
  改为：*/
    left: 50%;
    translate: -50%;
}

#blog-info .site-name {
    position: relative;
    font-size: 24px;
    /*一定要把字体调大点，否则效果惨不忍睹！*/
}

#blog-info a:hover {
    background: var(--icat-blue);
    transition: background .3s;
    border-radius: 8px;
}

#blog-info a:hover .site-name {
    color: var(--icat-blue) !important;
    position: relative;
    text-shadow: 0 0 transparent;
}

#blog-info a:hover .site-name:after {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    content: "\e77c";
    font-family: "iconfont" !important;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #blog-info a:hover {
        background: 0;
        transition: unset;
        border-radius: 0;
    }
    #blog-info a:hover .site-name {
        color: var(--icat-blue) !important;
        position: relative;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    }
    #blog-info a:hover .site-name:after {
        opacity: 1;
        scale: 1.03;
        /* display: none; */
    }
}

:root {
    --icat-white: #fff;
    --icat-white-op: rgba(255, 255, 255, 0.2);
    --icat-black: #000;
    --icat-black-op: rgba(0, 0, 0, 0.2);
    --icat-none: #00000000;
    --icat-gray: #999999;
    --icat-gray-op: #9999992b;
    --icat-vip: #e5a80d;
    --icat-main: var(--icat-theme);
    --icat-main-op: var(--icat-theme-op);
    --icat-main-op-deep: var(--icat-theme-op-deep);
    --icat-main-op-light: var(--icat-theme-op-light);
    --icat-main-none: var(--icat-theme-none);
    --icat-shadow-theme: 0 8px 12px -3px var(--icat-theme-op);
    --icat-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --icat-shadow-main: 0 8px 12px -3px var(--icat-main-op);
    --icat-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --icat-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --icat-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --icat-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --icat-shadow-red: 0 8px 12px -3px #ee7d7936;
    --icat-shadow-green: 0 8px 12px -3px #87ee7936;
    --icat-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --icat-snackbar-time: 5s;
    --icat-post-bg: var(--icat-blue);
    --style-border-hover-always: 1px solid var(--icat-blue)
}

[data-theme=light] {
    --icat-theme: #425AEF;
    --icat-theme-op: #4259ef23;
    --icat-theme-op-deep: #4259efdd;
    --icat-theme-op-light: #4259ef0d;
    --icat-theme-none: #4259ef01;
    --icat-blue: #425AEF;
    --icat-red: #f04a63;
    --icat-pink: #FF7C7C;
    --icat-green: #57bd6a;
    --icat-yellow: #c28b00;
    --icat-yellow-op: #d99c001a;
    --icat-orange: #e38100;
    --icat-shadow-orange: 0 8px 12px -3px rgba(227, 129, 0, .2);
    --icat-purple: #7a60d2;
    --icat-fontcolor: #363636;
    --icat-background: #f7f9fe;
    --icat-reverse: #000;
    --icat-maskbg: rgba(255, 255, 255, 0.6);
    --icat-maskbgdeep: rgba(255, 255, 255, 0.85);
    --icat-hovertext: var(--icat-main);
    --icat-ahoverbg: #F7F7FA;
    --icat-lighttext: var(--icat-main);
    --icat-secondtext: rgba(60, 60, 67, 0.8);
    --icat-scrollbar: rgba(60, 60, 67, 0.4);
    --icat-card-btn-bg: #edf0f7;
    --icat-post-blockquote-bg: #fafcff;
    --icat-post-tabs-bg: #f2f5f8;
    --icat-secondbg: #f7f7f9;
    --icat-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --icat-card-bg: #fff;
    --icat-card-bg-op: var(--icat-black-op);
    --icat-card-bg-none: rgba(255, 255, 255, 0);
    --icat-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-card-border: #e3e8f7;
    --icat-shadow-border: 0 8px 16px -4px #2c2d300c;
    --icat-tabs-background: #49B1F5;
    --style-border: 1px solid var(--icat-card-border);
    --style-border-hover: 1px solid var(--icat-main);
    --style-border-dashed: 1px dashed var(--icat-theme-op);
    --style-border-forever: 2px solid var(--icat-main)
}

[data-theme=dark] {
    --icat-theme: #f2b94b;
    --icat-theme-op: #f2b94b23;
    --icat-theme-op-deep: #f2b94bdd;
    --icat-theme-none: #f2b94b00;
    --icat-blue: #0084FF;
    --icat-red: #FF3842;
    --icat-pink: #d44040;
    --icat-green: #3e9f50;
    --icat-purple: #7a60d2;
    --icat-yellow: #ffc93e;
    --icat-yellow-op: #ffc93e30;
    --icat-orange: #ff953e;
    --icat-shadow-orange: 0 8px 12px -3px rgba(255, 149, 62, .2);
    --icat-fontcolor: #F7F7FA;
    --icat-background: #18171d;
    --icat-reverse: #fff;
    --icat-maskbg: rgba(0, 0, 0, 0.6);
    --icat-maskbgdeep: rgba(0, 0, 0, 0.85);
    --icat-hovertext: #0A84FF;
    --icat-ahoverbg: #fff;
    --icat-lighttext: var(--icat-theme);
    --icat-secondtext: #a1a2b8;
    --icat-scrollbar: rgba(200, 200, 223, 0.4);
    --icat-card-btn-bg: #30343f;
    --icat-post-blockquote-bg: #000;
    --icat-post-tabs-bg: #121212;
    --icat-secondbg: #21232a;
    --icat-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --icat-card-bg: #1b1c20;
    --icat-card-bg-op: var(--icat-white-op);
    --icat-card-bg-none: #1d1b2600;
    --icat-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --icat-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --icat-card-border: #3d3d3f;
    --icat-shadow-border: 0 8px 16px -4px #00000050;
    --icat-tabs-background: #81d8cf;
    --style-border: 1px solid var(--icat-card-border);
    --style-border-hover: 1px solid var(--icat-theme);
    --style-border-dashed: 1px dashed var(--icat-theme-op);
    --style-border-forever: 2px solid var(--icat-lighttext)
}


/* 主页按钮 */

#nav {
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

#nav-right {
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
}

.nav-fixed #nav {
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}

#page:has(#icat_page) {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
}

#web_bg~.page:has(#icat_page) {
    background: var(--card-bg);
}


/* page背景调整 */

.icat-content.icat-content-item.icatPage {
    height: 19rem;
    color: var(--icat-white);
    overflow: hidden;
    margin-top: 0;
    border-radius: 12px;
    border: var(--style-border-always);
    box-shadow: var(--icat-shadow-border);
}

.icat-content-item .icat-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.icat-content-item .icat-content-item-tips {
    opacity: .8;
    font-size: .6rem;
    margin-bottom: .5rem;
}

.icat-content-item .icat-card-content .icat-content-item-title {
    margin-bottom: .5rem;
}

.icat-content-item .icat-content-item-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.icat-content-item .icat-content-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icat-content-item .icat-content-bottom .icat-tips {
    font-weight: bold;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icat-content-item .icat-card-content .icat-change-button-group .icat-change-button {
    height: 40px;
    width: auto;
    padding: 0 22px;
    border-radius: 20px;
    justify-content: center;
    background: var(--icat-white);
    color: var(--icat-black);
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateZ(0);
    box-shadow: 0 8px 16px -4px var(--icat-black-op);
}

.icat-content-item .icat-card-content .icat-change-button-group .icat-change-button i {
    margin-right: 4px;
    font-weight: bold;
}

#page:has(#icat_page) .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button:hover {
    background: var(--icat-blue);
    color: var(--icat-white);
}

@media screen and (max-width: 768px) {
    .icat-content-item .icat-card-content {
        padding: 1rem 1rem;
    }
    .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button {
        width: 60px;
    }
    .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button i {
        margin-right: -3px;
    }
    .icat-content-item .icat-card-content .icat-change-button-group .icat-change-button-text {
        display: none;
    }
}


/* 响应式 */


/* icat-page顶部样式 */


/* 设置文字内容 :nth-child(1)的作用是选择第几个 */

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}


/* 当用户点击输入框时显示 */

.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}


/* 主内容区 */

.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}


/* 小角标 */

.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

.tk-nick.tk-nick-link {
    color: #f56c6c!important;
}

#universe {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#page:has(#anMusic-page) {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
}

#an_music_bg {
    display: none;
    filter: blur(63px);
    opacity: 0.6;
    position: fixed;
    z-index: -999;
    background-attachment: local;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(0deg);
}

body:has(#anMusic-page) #an_music_bg {
    display: block;
}

body:has(#anMusic-page) {
    background: rgb(13, 13, 13);
}

#anMusic-page meting-js .aplayer {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

body:has(#anMusic-page) #web_bg {
    display: none;
}

body:has(#anMusic-page) #footer,
body:has(#anMusic-page) #nav-music {
    display: none;
}

#anMusic-page .aplayer-body {
    width: 40%;
    height: 75vh;
}

#anMusic-page ol>li:hover {
    background: #ffffff33;
    border-radius: 6px;
}

#anMusic-page .aplayer-pic {
    float: none;
    width: 180px;
    height: 180px;
    border-radius: 12px;
    margin: auto;
    left: 0;
    right: 0;
}

#anMusic-page .aplayer-info {
    margin: 0 20px 0 20px;
    border-bottom: none;
}

#anMusic-page .aplayer-info .aplayer-music {
    text-align: center;
    height: auto;
    margin: 15px;
}

#anMusic-page .aplayer-info .aplayer-music .aplayer-author,
#anMusic-page .aplayer-info .aplayer-music .aplayer-title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

#anMusic-page .aplayer-info .aplayer-lrc {
    height: 800%;
    margin-top: 80px;
    mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
}

#anMusic-page .aplayer-info .aplayer-lrc p {
    font-size: 14px;
    color: #fff;
}

#anMusic-page .aplayer .aplayer-lrc:after,
#anMusic-page .aplayer .aplayer-lrc:before {
    display: none;
}


/* 控制器 */

#anMusic-page .aplayer-info .aplayer-controller {
    position: fixed;
    max-width: 1500px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

#anMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 160px 0 150px;
}

#anMusic-page .aplayer-info .aplayer-controller .aplayer-played {
    background: var(--anzhiyu-white) !important;
}

#anMusic-page .aplayer-info .aplayer-controller .aplayer-thumb {
    -webkit-transform: none;
    transform: none;
    background: #fff !important;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back,
#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward,
#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
    display: inline;
    position: fixed;
}

#anMusic-page .aplayer-info .aplayer-time {
    position: absolute;
    width: 100%;
    bottom: 21px;
    height: 0;
    display: flex;
    justify-content: flex-end;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
    margin-right: 18px;
    margin-top: -8px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
    position: absolute;
    left: 0;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
    position: absolute;
    left: 40px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
    position: absolute;
    left: 80px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 15px;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
    display: none;
}

#anMusic-page .aplayer-info .aplayer-time .aplayer-icon path {
    fill: var(--anzhiyu-white);
    opacity: 0.8;
}

#anMusic-page .aplayer-list {
    width: 60%;
    max-height: none !important;
    height: 100%;
}

#anMusic-page ol {
    max-height: 75vh !important;
    padding-right: 25px;
}

#anMusic-page ol>li {
    border-top: 1px solid transparent;
    font-size: 14px;
}

#anMusic-page ol>li.aplayer-list-light {
    background: rgb(255 255 255 / 20%);
    border-radius: 6px;
}

#anMusic-page ol>li span {
    color: var(--anzhiyu-white);
}

#anMusic-page ol>li.aplayer-list-light .aplayer-list-cur {
    display: none;
}

#anMusic-page ol>li span.aplayer-list-author {
    opacity: 0.6;
}


/* 导航栏 */

.page:has(#anMusic-page) #nav {
    backdrop-filter: none !important;
    background: 0 0 !important;
    border-bottom: none !important;
}

.page:has(#anMusic-page) #page-header.not-top-img #nav a,
.page:has(#anMusic-page) #page-header #nav .back-home-button {
    color: var(--anzhiyu-white);
}

body:has(#anMusic-page) .s-sticker div {
    color: var(--anzhiyu-white) !important;
}

body:has(#anMusic-page) .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop {
    margin-right: 15px;
}

[data-theme="dark"] .page:has(#anMusic-page) #page-header:before {
    background-color: transparent;
}


/* **** 移动端样式 ***** */

@media screen and (max-width: 768px) {
    body:has(#anMusic-page) #rightside {
        display: none;
    }
    body:has(#anMusic-page) #content-inner,
    body:has(#anMusic-page) #page {
        z-index: auto;
    }
    /* 歌曲列表 */
    #anMusic-page .aplayer-list {
        position: fixed;
        z-index: 1002;
        width: 100%;
        bottom: -76%;
        left: 0;
        background: var(--sidebar-bg);
        height: auto;
        border-radius: 15px 15px 0px 0px;
        padding: 15px 0px;
    }
    #anMusic-page .aplayer-list.aplayer-list-hide {
        bottom: 0% !important;
    }
    #anMusic-page ol {
        max-height: 60vh !important;
        padding-right: 0px;
    }
    #anMusic-page ol>li {
        display: flex;
        margin: 0 10px;
    }
    #anMusic-page ol>li span {
        color: var(--font-color);
    }
    #anMusic-page ol>li span.aplayer-list-title {
        width: 30%;
    }
    #anMusic-page ol>li.aplayer-list-light {
        background: #33a673;
        padding: 5px 20px;
        border-radius: 10px;
    }
    #anMusic-page ol>li.aplayer-list-light span {
        color: #fff;
    }
    #anMusic-page ol>li span.aplayer-list-title {
        max-width: 55%;
        width: auto;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
    #anMusic-page ol>li span.aplayer-list-author {
        position: absolute;
        right: 10px;
        width: auto;
        max-width: 35%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
    #anMusic-page ol>li.aplayer-list-light span.aplayer-list-author {
        right: 15px;
    }
    /* 歌词信息 */
    #anMusic-page .aplayer-body {
        width: 100%;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 100px;
    }
    #anMusic-page .aplayer-info .aplayer-lrc {
        margin-top: 40px;
        height: auto;
        max-height: 200%;
        min-height: 100%;
        mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);
    }
    #anMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
        color: #33a673;
    }
    /* 控制按键和进度条 */
    #anMusic-page .aplayer-info .aplayer-controller {
        width: 100%;
        bottom: 100px;
    }
    #anMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
        margin: 0 30px;
    }
    #anMusic-page .aplayer-info .aplayer-time {
        bottom: -40px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
        position: absolute;
        width: 100%;
        margin-right: 0;
        margin-top: -33px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
        position: absolute;
        right: 30px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
        position: absolute;
        left: 35px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
        margin: auto;
        right: 110px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
        margin: auto;
        right: 0;
        left: 0;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
        margin: auto;
        left: 110px;
        right: 0;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-order {
        position: absolute;
        left: 22px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-loop {
        position: absolute;
        right: 25px;
    }
    #anMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
        display: inline;
        position: absolute;
        right: 25px;
        top: -90px;
    }
    #anMusic-page .aplayer-volume-bar-wrap {
        bottom: 0px;
        right: 7px;
    }
    #anMusic-page .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
        left: -66px;
    }
}

#eoMusic-page {
    margin-top: -60px;
}

#eoMusic-page #eo-music {
    display: flex;
    flex-direction: row-reverse;
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.bgCls {
    filter: blur(63px);
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 信息 */

#eo-music .aplayer-body {
    width: 40%;
    height: 75vh;
}

#eo-music .aplayer-pic {
    float: none;
    width: 180px;
    height: 180px;
    border-radius: 12px;
    margin: auto;
    left: 0;
    right: 0;
}

#eo-music .aplayer-info {
    margin: 0 20px 0 20px;
    border-bottom: none;
}

#eo-music .aplayer-info .aplayer-music {
    text-align: center;
    height: auto;
    margin: 15px;
}

#eo-music .aplayer-info .aplayer-music .aplayer-title,
#eo-music .aplayer-info .aplayer-music .aplayer-author {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

#eo-music .aplayer-info .aplayer-lrc {
    height: calc(100vh - 660px);
    margin-top: 80px;
    -webkit-mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
}

#eo-music .aplayer-info .aplayer-lrc p {
    font-size: 14px;
    color: #fff;
}

#eo-music .aplayer-info .aplayer-controller {
    position: fixed;
    max-width: 1500px;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: 50px;
}

#eo-music .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 160px 0px 150px;
}

#eo-music .aplayer-info .aplayer-controller .aplayer-thumb {
    -webkit-transform: none;
    transform: none;
    background: #fff !important;
}

#eo-music .aplayer-info .aplayer-controller .aplayer-played {
    background: #fff !important;
}


/* 控制器 */

#eo-music .aplayer-info .aplayer-time .aplayer-icon-back,
#eo-music .aplayer-info .aplayer-time .aplayer-icon-play,
#eo-music .aplayer-info .aplayer-time .aplayer-icon-forward {
    display: inline;
    position: fixed;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon-menu {
    display: none;
}

#eo-music .aplayer-info .aplayer-time {
    position: absolute;
    width: 100%;
    bottom: 21px;
    height: 0px;
    display: flex;
    justify-content: flex-end;
}

#eo-music .aplayer-info .aplayer-time .aplayer-volume-wrap .aplayer-volume-bar-wrap {
    bottom: 5px;
    margin: auto;
    left: 8px;
    right: 0;
}

#eo-music .aplayer-info .aplayer-time .aplayer-time-inner {
    margin-right: 18px;
    margin-top: -8px;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 15px;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon-back {
    position: absolute;
    left: 0;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon-play {
    position: absolute;
    left: 40px;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon-forward {
    position: absolute;
    left: 80px;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon path {
    fill: #fff;
    opacity: .8;
}

#eo-music .aplayer-info .aplayer-time .aplayer-icon path:hover {
    fill: #fff;
    opacity: 1;
}


/* 歌曲列表 */

#eo-music .aplayer-list {
    width: 60%;
    max-height: none !important;
    height: 100%;
}

#eo-music ol {
    max-height: 75vh !important;
    /* height: 100%; */
    padding-right: 25px;
}

#eo-music ol::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 20%);
}

#eo-music ol>li {
    border-top: 1px solid rgb(233 233 233 / 0%);
    font-size: 14px;
}

#eo-music ol>li span {
    color: #fff;
}

#eo-music ol>li.aplayer-list-light {
    background: rgb(255 255 255 / 20%);
    border-radius: 6px;
}

#eo-music ol>li:hover {
    background: rgb(255 255 255 / 20%);
    border-radius: 6px;
}

#eo-music ol>li.aplayer-list-light .aplayer-list-cur {
    display: none;
}

#eo-music ol>li span.aplayer-list-author {
    opacity: .6;
}


/* **** 移动端样式 ***** */

@media screen and (max-width: 768px) {
    /* 歌曲列表 */
    #eo-music .aplayer-list {
        position: fixed;
        z-index: 1002;
        width: 100%;
        bottom: -76%;
        left: 0;
        background: var(--sidebar-bg);
        height: auto;
        border-radius: 15px 15px 0px 0px;
        padding: 15px 0px;
    }
    #eo-music .aplayer-list.aplayer-list-hide {
        bottom: 0% !important;
    }
    #eo-music ol {
        max-height: 60vh !important;
        padding-right: 0px;
    }
    #eo-music ol>li {
        display: flex;
        margin: 0 10px;
    }
    #eo-music ol>li span {
        color: var(--font-color);
    }
    #eo-music ol>li span.aplayer-list-title {
        width: 30%;
    }
    #eo-music ol>li.aplayer-list-light {
        background: #33a673;
        padding: 5px 20px;
        border-radius: 10px;
    }
    #eo-music ol>li.aplayer-list-light span {
        color: #fff;
    }
    #eo-music ol>li span.aplayer-list-title {
        max-width: 55%;
        width: auto;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
    #eo-music ol>li span.aplayer-list-author {
        position: absolute;
        right: 10px;
        width: auto;
        max-width: 35%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
    #eo-music ol>li.aplayer-list-light span.aplayer-list-author {
        right: 15px;
    }
    /* 歌词信息 */
    #eo-music .aplayer-body {
        width: 100%;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 100px;
        /* height: auto; */
    }
    #eo-music .aplayer-info .aplayer-lrc {
        margin-top: 40px;
        /* height: 400%; */
        height: auto;
        max-height: 200%;
        min-height: 100%;
        -webkit-mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);
    }
    #eo-music .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
        color: #33a673;
    }
    /* 控制按键和进度条 */
    #eo-music .aplayer-info .aplayer-controller {
        bottom: 100px;
    }
    #eo-music .aplayer-info .aplayer-controller .aplayer-bar-wrap {
        margin: 0 30px;
    }
    #eo-music .aplayer-info .aplayer-time {
        bottom: -40px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-time-inner {
        position: absolute;
        width: 100%;
        margin-right: 0;
        margin-top: -33px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
        position: absolute;
        right: 30px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
        position: absolute;
        left: 35px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-icon-back {
        margin: auto;
        right: 110px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-icon-play {
        margin: auto;
        right: 0;
        left: 0;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-icon-forward {
        margin: auto;
        left: 110px;
        right: 0;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-icon-order {
        position: absolute;
        left: 22px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-icon-loop {
        position: absolute;
        right: 25px;
    }
    #eo-music .aplayer-info .aplayer-time .aplayer-icon-menu {
        display: inline;
        position: absolute;
        right: 25px;
        top: -90px;
    }
}